@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.body{
    background-color: rgba(228, 228, 228, 0.99);
    margin: 0 0 0 0;
}

.title {
    text-align: center;
    padding-top: 3%;
    font-family: 'Comic Neue';
    font-weight: bold;
    color: #6504b5;
    font-size: 3em;
}

